# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# React Native
.project
.idea/
*.iml
.DS_Store
/ios/
/android/

# Metro
.metro-cache

# Build artifacts
build/
dist/

# Logs
logs
*.log
*.lock
